@use '../constants.scss' as *;

.game-field {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.game-row {
    display: flex;
    flex-direction: row;
}

$cell-size: .6rem;

.game-cell {
    display: block;
    background-color: $color-inactive;
    width: $cell-size;
    height: $cell-size;
    border: .5px solid $color-highlight;
}

.game-cell-alive {
    background-color: $color-primary;
}
