@use "sass:color";

$color-primary: #5B8FB9;
$color-secondary: #301E67;
$color-highlight: #B6EADA;
$color-text: #39C0C8;
$color-inactive: color.adjust($color-secondary, $lightness: -1%);
$color-dark-text: #000000;
